<html>
<head><title>Извещение о сделанном зaкaзe</title></head>
<body>
<h1> Извещение о сделанном заказе </h1>
<р>Уважаемый(ая) {{ person_name }}!</р>
<р>Спасибо, что вы сделали заказ в {{ company }}. Он будет
доставлен вам {{ ship_date|date:"F j, Y" }}.</р>
<р>Ниже перечислены заказанные вами товары:</р>
<ul>
{% for item in item_list %}
<li>{{ item }}</li>
{% endfor %}
</ul>
{% if ordered_warranty %}
<р>Сведения о гарантийных обязательствах вы найдете внутри упаковки.</р>
{% else %}
<р>Вы не заказывали гарантию, поэтому должны будете действовать
самостоятельно, когда изделие неизбежно выйдет из строя.</р>
{% endif %}
<р>С уважением,<br />{{ company }}</р>
</body>
</html>
